@use "sass:color";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

$font-family-sans-serif: 'Inter', sans-serif;

$uoc-corporate: #000078;
$uoc-masterbrand: #73edff;
$uoc-bg: color.scale($uoc-masterbrand, $lightness: 70%);

$mqMinWidth: 420px;

$bg: #fffef3;
$font-color: #333;
